<%- include('../partials/header') %>

<section class="my-plans-container">

  <h3 class="my-plans">MY MEAL PLANS</h3>

  <ul class="plan-list">
    <% userPlans.forEach(plan => { %>
    <li>
      🥣 <a href="/plans/<%= plan._id %>">
        <%= plan.title %>
      </a>
    </li>
    <% }); %>
  </ul>

</section>

<%- include('../partials/footer') %>