<%- include('../partials/header') %>

<h1 id="add-title">Add your own dish to your planner</h1>
<p id="note">If you can't find your desired dish on the list. You can add your own and it'll be added to the drop-down menu option</p>

<section>
<form id="new-form" action="/plans/new" method="POST">
  <label>Dish Name:</label>
  <input type="text" name="name">
  <label>Dish URL Link (optional):</label>
  <input type="text" name="referenceURL">
  <label>Meal Type:</label>
  <select name="mealType">
    <option value="Breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>
</form>
<input id="submit" type="submit" value="Add a Dish" >
</section>

<%- include('../partials/footer') %>
