<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="https://i.imgur.com/Zr8tTVV.png">
  </head>
  <body>
    <div class="main-logo">
      <img src="https://i.imgur.com/3n2e3Bs.png" alt="Yum Yums Logo">
    </div>
    
    <nav class="nav">
      <ul>
        <li>
         <a href="/">HOME</a>
        </li>
          | 
        <li>
          <a href="/meals">VIEW ALL</a>
        </li>
          | 
        <li>
          <a href="/meals/favorites">FAVORITES</a>
        </li>
          | 
        <li>
          <a href="/meals/planner">MEAL PLANNER</a>
        </li>
        <li class="login">
          <a href="/login">LOG IN</a>
        </li>
      </ul>
    </nav>
 
    <p>
      Welcome to our curated meal planner for babies and toddlers!
      We understand the challenges parents face in planning the perfect meals for their little ones.
      Our platform offers a comprehensive list of meal ideas tailored specifically for infants and toddlers.<br>
      
      <br> By signing up, you can <b>gain access to a diverse range of meal suggestions</b>.
      Each meal idea comes with a convenient link to its recipe, allowing you to explore further
      and discover new ways to prepare nutritious and delightful dishes for your child.
      Please note that the recipe viewing experience is seamlessly redirected to an external website.<br>

      <br>
      Our platform goes beyond just meal suggestions.
      You have the flexibility to <b>plan and organize</b> your little one's meal schedule,
      including breakfast, lunch, dinner, and snacks, all within the convenience of our user-friendly web application.
      Join us today and simplify your meal planning journey, ensuring your child enjoys a healthy and
      varied diet while making mealtime a joyous and stress-free experience!<br>

      <br> Oh.. and did I mention it's <b>FREE</b> to sign up? 😄 <br>
    </p>
  </body>
</html>
