<%- include('./partials/header') %>

<p class="welcome-page">
  Welcome to our curated meal planner for babies and toddlers!  <br>

  <br>We understand the challenges parents face in planning the perfect meals for their little ones.
  Our platform offers a comprehensive list of dishes tailored specifically for infants and toddlers.<br>
  
  <br> By signing up, you can <b>gain access to a diverse range of dishes</b>.
  Each dish comes with a convenient link to its recipe, allowing you to explore further
  and discover new ways to prepare nutritious and delightful dishes for your child.
  Please note that the recipe viewing experience is seamlessly redirected to an external website.<br>

  <br>
  Our platform goes beyond just meal suggestions.
  You have the flexibility to <b>plan and organize</b> your little one's meal schedule,
  including breakfast, lunch, dinner, and snacks, all within the convenience of our user-friendly web application.<br>
  
  <br>Join us today and simplify your meal planning journey, ensuring your child enjoys a healthy and
  varied diet while making mealtime a joyous and stress-free experience!<br>

  <br> Oh.. and did I mention it's <b>FREE</b> to sign up? 😄 <br>
</p>

<%- include('./partials/footer') %>