* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/QZgaXt6.png');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.main-logo {
  text-align: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10;
}

.nav ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
  display: flex; /* Display list items as flex for horizontal layout */
}

.nav li {
  margin: 0 10px; /* Adjust margin for spacing between items */
}

.nav a {
  color: rgb(72, 70, 70);
  font-size: 15px;
}

.login {
  margin-left: auto; /* Push the login link to the far right */
}

p {
  display: flexbox;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 20px;
  color: rgb(72, 70, 70);
  padding: 40px;
  margin: 0 auto;
}