* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #002d36;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('https://i.imgur.com/QZgaXt6.png');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.main-logo {
  text-align: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20;
}

.nav ul {
  list-style-type: none;
  margin: 15px 20px;
  padding: 0;
  display: flex; /* horizontal layout */
  align-items: center;
}

.nav li {
  margin: 40px 40px; /* Adjust margin for spacing between items */
}

.nav a {
  color: rgb(11, 120, 150);
  font-size: 15px;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 15px;
}

.welcome-page {
  margin: 5vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: rgb(72, 70, 70);
  padding: 70px 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}


/* MEAL PLANNER SECTION */

.meal-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px;
}

.meal-cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}